{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}

<div class="row">
    <span class="badge">Yields {{ page.recipe.portions }} servings</span>
    <span class="badge">{{ page.recipe.difficulty }}</span>
    {% if page.recipe.source %}
    <button type="button" class="btn btn-link">Source Link</button>
    {% endif %}
</div>

<div class="row">
    <ul class="list-group">
        {% for ingredient in page.recipe.get_ingredients %}
        <li class="list-group-item">
            {{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.ingredient_name }}
            {% if ingredient.note %}<i>({{ ingredient.note }})</i>{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="row">
    {% editable page.recipe.instructions %}
    {{ page.recipe.instructions|richtext_filters }}
    {% endeditable %}
</div>

{% endblock %}